{% extends "base.html" %}

{% block title %}

    {{title}}

{% endblock title %}

{% block content %}
    <div class="row">
        <div class="card w-100">
          <div class="card-header">
              {{ title }}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ section_title }}</h5>
            <p class="card-text">Below are data received from the oscilloscope</p>
{#            <a href="#" class="btn btn-primary">Go somewhere</a>#}
              <canvas id="myChart" width="400" height="400"></canvas>

          </div>
        </div>

    </div>
    <script>
        var ctxM = document.getElementById('myChart');
        ctxM.height = 200;
        var ctx = ctxM.getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [
                    {% for value in sensor_data %}
                        "{{ value.timestamp }}",
                    {% endfor %}
                ],
                datasets: [{
                    label: 'Channel1',
                    data: [
                        {% for value in sensor_data %}
                            {{ value.value }},
                        {% endfor %}
                    ],
                    backgroundColor:
                        'rgb(54, 162, 235)',
                    borderColor:
                        'rgb(54, 162, 235)',
                    fill: false
                }
                {#,#}
                {#    {#}
                {#    label: 'Channel2',#}
                {#    data: [11, 10, 3, 7, 1, 3],#}
                {#    backgroundColor:#}
                {#        'rgb(255, 99, 132)',#}
                {#    borderColor:#}
                {#        'rgb(255, 99, 132)',#}
                {#    fill: false#}
                {# } #}
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        </script>
{% endblock content %}