{% extends "base.html" %}

{% block title %}

    {{title}}

{% endblock title %}

{% block content %}
    <div class="card-deck">
    {% for group in groups %}
            <div class="card col-md-3 col-sm-6">
              <div class="card-body">
                <h5 class="card-title">Reading #{{ group.id }}</h5>
                <p class="card-text">{{ group.timestamp}}</p>
                <a href="/sensor/reading/{{group.id}}/" class="btn btn-primary">See Data</a>
              </div>
            </div>

    {% endfor %}
    </div>
{% endblock content %}